@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
    --cor1:#0FC2C0;
    --cor2:#0CABA8;
    --cor3:#008F8C;
    --cor4:#015958;
    --cor5:#023535;

    --fonte1: "Rubik Bubbles", system-ui;
    --fonte2: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: var(--fonte1) ;
    font-size: 2.5em;
    background: linear-gradient(90deg, var(--cor1), var(--cor2));
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.269);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login {
    background: var(--cor4);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
    width: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582);
    position: relative;
}

.monstro {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
}

button:hover {
    background: var(--cor3);
}

.parte-senha {
    position: relative;
    display: flex;
    align-items: center;
}

#btn-ver {
    width: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

#olho-aberto {
    width: 150px;
}

#olho-fechado {
    width: 150px;
    display: none;
}
